In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/tirth/Developer/PythonTest/vgsales.csv')
df.head()
df.shape
df.values
df.describe()

,Acoustic/Folk_0,Alt_Music_1,Blues_2,Bollywood_3,Country_4,HipHop_5,Indie Alt_6,Instrumental_7,Metal_8,Pop_9,Rock_10
count,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000,7713.000000
mean,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130,0.000130
std,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386,0.011386
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
from sklearn.tree import  DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import joblib
music_data = pd.read_csv('/Users/tirth/Developer/PythonTest/music.csv')
music_data.head()
# writing code for model
x = music_data.drop(columns=['genre']) # input data set
y = music_data['genre'] # output data set
X_train, X_test, Y_train, Y_test = train_test_split(x,y, test_size=0.2) # we are allocating data for testing 20%
# music_data.info() 
model = DecisionTreeClassifier()
# model.fit(x,y)
model.fit(X_train, Y_train)
music_data
# model.predict([[21, 1], [22,0]]) # model will make prediction based on the input data set
# 21 input and 1 is gender
predictions = model.predict(X_test)
joblib.dump(model, 'music-recommender.joblib') # saving the model to disk
score = accuracy_score(Y_test, predictions)
score
print(f"Accuracy: {score * 100:.2f}%")
tree.export_graphviz(model, out_file='music-recommender.dot', feature_names=['age', 'gender'], class_names=sorted(y.unique()), label='all', rounded=True, filled=True)

Accuracy: 100.00%